hostname: bastion
fqdn: bastion.{{ domain_name }}
manage_etc_hosts: true
users:
  - name: {{ bastion_user }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: wheel
    home: /home/{{ bastion_user }}
    shell: /bin/bash
    lock_passwd: false
    ssh_authorized_keys:
      - {{ bastion_ssh_pub_key }}