<network>
  <name>openshift-bridge</name>
  <forward mode='nat'/>
  <bridge name='openshift-br0' stp='on' delay='0'/>
  <ip address='192.168.150.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.150.10' end='192.168.150.254'/>
    </dhcp>
  </ip>
</network>