<!DOCTYPE html>
<head>
</head>
<body>
    <div style="width:2119px; height:1148px;">
        <div style=" padding: 0px; background: #FFFFFF; width:1919px; height:1048px; margin: 100px; " > 
            <div style='float: left; width: 100%; height: calc((100% - 0px) * (100 / 100)); outline: 1px solid #000; overflow: hidden;'>
                <div style='float: left; width: 100%; height: 256px; outline: 1px solid #000; overflow: hidden;'>
                    <div style='float: left; width: 256px; height: 256px; outline: 1px solid #000; overflow: hidden;'></div>
                    <div style='float: left; width: calc((100% - 256px) * (100 / 100)); height: 100%; outline: 1px solid #000; overflow: hidden;'>
                        <div style='float: left; width: 100%; height: calc((100% - 0px) * (23.076923076923077 / 100)); outline: 1px solid #000; overflow: hidden;'></div>
                        <div style='float: left; width: 100%; height: calc((100% - 0px) * (76.92307692307693 / 100)); outline: 1px solid #000; overflow: hidden;'></div>
                    </div>
                </div>
        <div style='float: left; width: 100%; height: calc((100% - 356px) * (100 / 100)); outline: 1px solid #000; overflow: hidden;'>
            <div style='float: left; width: 256px; height: 100%; outline: 1px solid #000; overflow: hidden;'></div>
            <div style='float: left; width: calc((100% - 256px) * (100 / 100)); height: 100%; outline: 1px solid #000; overflow: hidden;'></div>
        </div>
        <div style='float: left; width: 100%; height: 100px; outline: 1px solid #000; overflow: hidden;'>
        </div>
            </div>
        </div>
    </div>
</body>
</html>