;
; BIND reverse data file for {{ okd_bastion_configuration.subnet }}.0/24
;
$TTL    604800
@       IN      SOA     ns1.{{ okd_bastion_configuration.domain }}. admin.{{ okd_bastion_configuration.domain }}. (
                            {{ okd_bastion_configuration.serial }} ; Serial
                       604800 ; Refresh
                        86400 ; Retry
                      2419200 ; Expire
                       604800 ) ; Negative Cache TTL
;
; Name servers
@       IN      NS      ns1.{{ okd_bastion_configuration.domain }}.

; PTR Records
{% set subnet_prefix = okd_bastion_configuration.subnet.split('.')[:3] | join('.') %}
{{ ansible_default_ipv4.address.split('.')[-1] }}  IN      PTR     ns1.{{ okd_bastion_configuration.domain }}.

; Bootstrap
{{ okd_bastion_configuration.nodes.bootstrap.ip.split('.')[-1] }}  IN      PTR     {{ okd_bastion_configuration.nodes.bootstrap.name }}.{{ okd_bastion_configuration.domain }}.
{{ okd_bastion_configuration.nodes.bootstrap.ip.split('.')[-1] }}  IN      PTR     api.{{ okd_bastion_configuration.domain }}.
{{ okd_bastion_configuration.nodes.bootstrap.ip.split('.')[-1] }}  IN      PTR     api-int.{{ okd_bastion_configuration.domain }}.

; Control Plane Nodes
{% for master in okd_bastion_configuration.nodes.control_plane %}
{{ master.ip.split('.')[-1] }}  IN      PTR     {{ master.name }}.{{ okd_bastion_configuration.domain }}.
{% endfor %}

; Compute Nodes
{% for worker in okd_bastion_configuration.nodes.compute %}
{{ worker.ip.split('.')[-1] }}  IN      PTR     {{ worker.name }}.{{ okd_bastion_configuration.domain }}.
{% endfor %}

; Infrastructure Nodes
{% for infra in okd_bastion_configuration.nodes.infra %}
{{ infra.ip.split('.')[-1] }}  IN      PTR     {{ infra.name }}.{{ okd_bastion_configuration.domain }}.
{% endfor %}

; ETCD Cluster
{% for index in range(okd_bastion_configuration.nodes.control_plane|length) %}
{{ okd_bastion_configuration.nodes.control_plane[index].ip.split('.')[-1] }}  IN      PTR     etcd-{{ index }}.{{ okd_bastion_configuration.domain }}.
{% endfor %}