// named.conf.local
//
// Define local zone configurations
//

// Forward zone
zone "{{ okd_bastion_configuration.domain }}" {
    type master;
    file "/var/named/zones/db.{{ okd_bastion_configuration.domain }}";
};

// Reverse zone for {{ okd_bastion_configuration.subnet }}.0/24 subnet
zone "{{ okd_bastion_configuration.subnet | reverse_subnet }}.in-addr.arpa" {
    type master;
    file "/var/named/zones/db.{{ okd_bastion_configuration.subnet }}";
};