// named.conf
//
// Configure main Bind settings
//

options {
        listen-on port 53 { any; };
        listen-on-v6 port 53 { ::1; };
        directory       "/var/named";
        dump-file       "/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
        secroots-file   "/var/named/data/named.secroots";
        recursing-file  "/var/named/data/named.recursing";
        
        // Define allowed networks
        allow-query     { localhost; {{ bind_configuration.okd_subnet }}; };
        allow-query-cache { localhost; {{ bind_configuration.okd_subnet }}; };
        allow-recursion { localhost; {{ bind_configuration.okd_subnet }}; };
        allow-transfer  { localhost; {{ bind_configuration.okd_subnet }}; };

        // If there is a firewall between you and nameservers you want
        // to talk to, you may need to fix the firewall to allow multiple
        // ports to talk. See http://www.kb.cert.org/vuls/id/800113

        // Forward DNS queries to external DNS servers
        forwarders {
{% for forwarder in bind_configuration.dns_forwarders %}
                {{ forwarder }};
{% endfor %}
        };
        forward only;

        recursion yes;
        dnssec-validation no;

        managed-keys-directory "/var/named/dynamic";

        pid-file "/run/named/named.pid";
        session-keyfile "/run/named/session.key";

        /* https://fedoraproject.org/wiki/Changes/CryptoPolicy */
        include "/etc/crypto-policies/back-ends/bind.config";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
        type hint;
        file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named/named.conf.local";