*******************************************************************************
                        AUTHORIZED SKYLAB USERS ONLY
 
This system is for the use of authorized users only. All activity is logged
and regularly audited. Individuals using this system without authority or in
excess of their authority are subject to monitoring.

By continuing to use this system you indicate your awareness of and consent
to these terms and conditions of use.
*******************************************************************************