<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jank's POTD Flask App</title>
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div id="logo"> 
            <a href ="https://jankeemunkey.com">
                <img src="{{ url_for('static', filename='favicon-256x256.png') }}">
            </a>
         
        <header>
            <h1>Planet of the Day Information Flask Web App</h1>
        </header>
        <hr>
        <div class="intro">
            <p>This is a web app to <strong>retrieve planet of the day information</strong> from the NASA provided API. The app will pull the available information for the day. Come back each day for it to be updated and learn something new!
            </br>
            I invested in this project to teach myself the <a href ="https://flask.palletsprojects.com/en/1.1.x/"> micro web framework, flask </a>
            </p>
            <!-- One thing that was realized about this framework part way through was the data does not seem to update dynamically without stopping the web server, or refreshing the page.
            The AJAX/Javascript technique is one to look into it seems  -->
            </br>
            Let me know any improvement suggestions or feedback at: <a href = "https://github.com/JankeeMunkey">Github</a> or <a href = "https://www.linkedin.com/in/skylarhoughton/">LinkedIn</a>
        </br>
        <div class="app">
            <p>Initiate the App: 
            </br>
            <a href ="{{ url_for('nasa_flask_app') }}">Here</a>
            </p>
        </div>
        </div>
        </div>
        </br>
        <hr>
        <footer>
            <p>&copy; 2021 - Skylar Houghton, Jank the Munkey</p>
        </footer>
    </body>
</html>