;
; BIND data file for {{ bind_configuration.domain }}
;
$TTL    604800
@       IN      SOA     ns1.{{ bind_configuration.domain }}. admin.{{ bind_configuration.domain }}. (
                            {{ dns_serial }} ; Serial
                       604800 ; Refresh
                        86400 ; Retry
                      2419200 ; Expire
                       604800 ) ; Negative Cache TTL
;
; Name servers
@       IN      NS      ns1.{{ bind_configuration.domain }}.
ns1     IN      A       {{ ansible_default_ipv4.address }}

; Load balancer entries
api             IN      A       {{ bind_configuration.nodes.bootstrap.ip }}
api-int         IN      A       {{ bind_configuration.nodes.bootstrap.ip }}
*.apps          IN      A       {{ bind_configuration.nodes.infra[0].ip }}
*.apps          IN      A       {{ bind_configuration.nodes.infra[1].ip }}

; Bootstrap
{{ bind_configuration.nodes.bootstrap.name }}    IN      A       {{ bind_configuration.nodes.bootstrap.ip }}

; Control Plane Nodes
{% for master in bind_configuration.nodes.control_plane %}
{{ master.name }}    IN      A       {{ master.ip }}
{% endfor %}

; Compute Nodes
{% for worker in bind_configuration.nodes.compute %}
{{ worker.name }}    IN      A       {{ worker.ip }}
{% endfor %}

; Infrastructure Nodes
{% for infra in bind_configuration.nodes.infra %}
{{ infra.name }}    IN      A       {{ infra.ip }}
{% endfor %}

; ETCD Cluster
{% for index in range(bind_configuration.nodes.control_plane|length) %}
etcd-{{ index }}    IN      A       {{ bind_configuration.nodes.control_plane[index].ip }}
{% endfor %}

; SRV records for ETCD
{% for index in range(bind_configuration.nodes.control_plane|length) %}
_etcd-server-ssl._tcp  IN    SRV     0    10    2380    etcd-{{ index }}
{% endfor %}