/*importing Telex font*/
@font-face{
    font-family: trial;
    src: url('AstroSpace-eZ2Bg.ttf');
}

/* unvisited link */
a:link {
    color: #294715;
}
  
/* visited link */
a:visited {
    color: #0400ff;
}
  
/* mouse over link */
a:hover {
    color: #dd7d00;
}
  
/* selected link */
a:active {
    color: #000000;
}

/*Home page icon styling */
#logo{ 
	text-align: center;
	top:0px; 
	left:0px; 
}

/*Global styling for body*/
body { 
    font-family: trial;
    color: #000000;
    background-color: #ffffff;
}

/*Global styling for header*/
header { 
    font-family: trial;
    text-align: center;
    color: #000000;
}

/*Styling for Intro Text Body*/
.intro {
    font-family: trial;
    text-align: center;
    color: #000000;
    background: #ffffff;
    padding: 10px 10px 10px;
}

/*Global styling for body*/
.home_redirect { 
    font-family: trial;
    color: #000000;
    text-align: center;
    padding: 10px 10px 10px;
}

/*Styling for web app launcher */
.app {
    font-family: trial;
    text-align: center;
    color: #132208;
    font-size: 30px;
    padding: 300px 100px 300px;
    background-image: url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Styling for the Actual Web App */
.app_in_action {
    font-family: trial;
    text-align: center;
    color: #000000;
    background: #ffffff;
    padding: 60px 20px 60px;
}

/*Global styling for footer*/
footer { 
    font-family: trial;
    margin: 0 auto;
    color: #000000;
    padding: 10px 10px 10px;
}